<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuewang.rbac.mapper.DataMapper">

    <resultMap id="BaseResultMap" type="com.yuewang.rbac.model.entity.Data">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="companyId" column="company_id" jdbcType="BIGINT"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
            <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,company_id,
        created_time,updated_time
    </sql>

    <!--select page-->
    <select id="selectPage" resultType="com.yuewang.rbac.model.VO.DataPageVO">
        select
        *
        from
        data
            <!--is a dynamic SQL snippert, will generate the corresponding SQL conditions at runtime -->
            ${ew.customSqlSegment}
    </select>
</mapper>
